@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

p, label, button {
    font-size: 1.2em;
    line-height: 1.1em;
}

p {
    line-height: 1.5em;
}

input {
    font-size: 1.1em;
}

h1 {
    font-size: 2.7em;
}

button {
    cursor: pointer;
    background-color: var(--featured);
    border: none;
    padding: 0.4em 2em;
    margin-top: 0.6em;
    border-radius: 0.3em;

    &:hover {
        background-color: var(--featured-dark);
    }
}
