@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';



* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir', 'Poppins', sans-serif;
}

p, label, button {
    font-size: 1.2em;
    line-height: 1.1em;
}

p {
    line-height: 1.5em;
}

input {
    font-size: 1.1em;
}

select {
    font-size: 1.1em;
}

h1 {
    font-size: 2.7em;
}

button {
    cursor: pointer;
    background-color: var(--featured);
    border: none;
    padding: 0.8em 2em;
    border-radius: 0.3em;

    &:hover {
        background-color: var(--featured-dark);
    }
}

.btn-cancelar {
    background-color: #B24038;
    &:hover {
        background-color: #ac3027;
    }
}


@media (max-width: 1199.98px) {


    p, label, button {
        font-size: 1.1em;
        line-height: 1.1em;
    }

    p {
        line-height: 1.3em;
    }

    input {
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
    }


}

@media (max-width: 991.98px) {



}

@media (max-width: 767.98px) {

    p, label, button {
        font-size: 1em;
        line-height: 1.1em;
    }

    p {
        line-height: 1.2em;
    }

    input {
        font-size: 0.9em;
    }

    h1 {
        font-size: 2.1em;
    }

}

@media (max-width: 575.98px) {

    p, label, button {
        font-size: 0.9em;
        line-height: 1.1em;
    }

    p {
        line-height: 1.1em;
    }

    input {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.9em;
    }
}
