@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';



* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir', 'Poppins', sans-serif;
}

p, label, button {
    font-size: 1.2em;
    line-height: 1.1em;
}

p {
    line-height: 1.5em;
}

input {
    font-size: 1.1em;
}

h1 {
    font-size: 2.7em;
}

button {
    cursor: pointer;
    background-color: var(--featured);
    border: none;
    padding: 0.4em 2em;
    border-radius: 0.3em;

    &:hover {
        background-color: var(--featured-dark);
    }
}

.btn-cancelar {
    background-color: #B24038;
    &:hover {
        background-color: #ac3027;
    }
}
